<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<form method="post" action="/">
    <div>
        <label>
            Request a demo for
            <select name="for">
                <option value="intranet-foyer.demo.mubo.space">Intranet Foyer</option>
            </select>
        </label>
    </div>
    <div>
        <label>
            Your email
            <input type="email" name="email">
        </label>
    </div>
    <div>
        <div class="g-recaptcha" data-sitekey="6LdA7zwUAAAAABwUuSpW9IrMiBL50Q6jSBH1MtqG"></div>
    </div>
    <div>
        <button type="submit">Send request</button>
    </div>
</form>

</body>
</html>