<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>demo.mubo.space</title>

    <meta name="description" content="">

    <link href="/css/preload.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">
    <link href="/css/style-blue.css" rel="stylesheet" title="default">
    <link href="/css/width-boxed.css" rel="stylesheet" title="default">

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<div class="boxed">
    <div class="panel panel-primary">
        <div class="panel-heading">Demo access - request form</div>
        <div class="panel-body">
            Request sent.
            <br>
            <a href="/">back</a>
        </div>
    </div>
</div>

</body>
</html>